<h1 id="sidebarBtn">Services</h1>
<ul id="sidebarDropdown">
  <li><%= link_to "Behavioral Therapy", behavioral_path, class:"sub-links"%></li>
  <li><%= link_to "Group Therapy", group_path, class:"sub-links"%></li>
  <li><%= link_to "Anxiety Treatment", anxiety_path, class:"sub-links"%></li>
  <li><%= link_to "Family Therapy", family_path, class:"sub-links"%></li>
  <li><%= link_to "Stress Management", stress_path, class:"sub-links"%></li>
  <li><%= link_to "Couples Therapy", couples_path, class:"sub-links"%></li>
</ul>
