<div class="welcome-page">
  <header class="first-content">
    <div class="caption-one">
      <h1>Welcome To A Better You</h1>
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elite.</h3>
      <button><%= link_to "Shcedule an appointment", new_appointment_path %></button>
    </div>
  </header>

  <section class="intro">
    <div class="intro-info">
      <h1> Welcome to Valley Psychiatric Associates</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porta pretium mi,
        a maximus tellus tincidunt quis. Etiam varius leo sit amet faucibus malesuada.
        Integer ullamcorper commodo risus, nec iaculis tortor porta in. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porta pretium mi,
        a maximus tellus tincidunt quis. Etiam varius leo sit amet faucibus malesuada.
        Integer ullamcorper commodo risus, nec iaculis tortor porta in.
      </p>
    </div>
    <div class="intro-img">
      <img src="https://blogs.office.com/wp-content/uploads/2017/04/Office-Online-Server-April-2017-release-FI.png" alt="image_stock">
    </div>
  </section>

  <section class="home-info">
    <h1>Our Services</h1>
    <div class="info-sub" id="info-main">
      <div class="col-sm-4">
        <i class="fa fa-stethoscope fa-3x" aria-hidden="true"></i>
        <h2>Behavioral Therapy</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porta pretium mi,
            a maximus tellus tincidunt quis. Etiam varius leo sit amet faucibus malesuada.
            Integer ullamcorper commodo risus, nec iaculis tortor porta in.
        </p>
        <button class="button-home"><%=link_to "More Info", "#"%></button>
      </div>

      <div class="col-sm-4">
        <i class="fa fa-user-md fa-3x" aria-hidden="true"></i>
        <h2>Group Therapy</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porta pretium mi,
            a maximus tellus tincidunt quis. Etiam varius leo sit amet faucibus malesuada.
            Integer ullamcorper commodo risus, nec iaculis tortor porta in.
        </p>
        <button class="button-home"><%=link_to "More Info", "#"%></button>
      </div>

      <div class="col-sm-4">
        <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
        <h2>Anxiety Treatment</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porta pretium mi,
            a maximus tellus tincidunt quis. Etiam varius leo sit amet faucibus malesuada.
            Integer ullamcorper commodo risus, nec iaculis tortor porta in.
        </p>
        <button class="button-home"><%=link_to "More Info", "#"%></button>
      </div>

      <div class="col-sm-4">
        <i class="fa fa-user-circle fa-3x" aria-hidden="true"></i>
        <h2>Family Therapy</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porta pretium mi,
            a maximus tellus tincidunt quis. Etiam varius leo sit amet faucibus malesuada.
            Integer ullamcorper commodo risus, nec iaculis tortor porta in.
        </p>
        <button class="button-home"><%=link_to "More Info", "#"%></button>
      </div>

      <div class="col-sm-4">
        <i class="fa fa-cog fa-3x" aria-hidden="true"></i>
        <h2>Stress Management</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porta pretium mi,
            a maximus tellus tincidunt quis. Etiam varius leo sit amet faucibus malesuada.
            Integer ullamcorper commodo risus, nec iaculis tortor porta in.
        </p>
        <button class="button-home"><%=link_to "More Info", "#"%></button>
      </div>

      <div class="col-sm-4">
        <i class="fa fa-h-square fa-3x" aria-hidden="true"></i>
        <h2>Couples Therapy</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porta pretium mi,
            a maximus tellus tincidunt quis. Etiam varius leo sit amet faucibus malesuada.
            Integer ullamcorper commodo risus, nec iaculis tortor porta in.
        </p>
        <button class="button-home"><%=link_to "More Info", "#"%></button>
      </div>

    </div>
  </section>

  <section class="location-info">
    <div>
      <h1>Our Location</h1>
      <p style="padding:0 5%"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porta pretium mi,
          a maximus tellus tincidunt quis. Etiam varius leo sit amet faucibus malesuada.
          Integer ullamcorper commodo risus, nec iaculis tortor porta in.
      </p>
    </div>

    <div class="location-aside">
      <aside>
        <h4>Address</h4>
        <p>1011 Coffee Rd. </br><span class="red">Modesto, CA 95355</span></p>
      </aside>
      <aside>
        <h4>Hours</h4>
        <p>8AM - 6PM </br><span class="red">Monday - Saturday</p>
      </aside>
      <aside>
        <h4>Contact Us</h4>
        <p>(209) 524-1900 </br><span class="red">info@comapny.com</span></p>
      </aside>
    </div>

    <div>
      <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3158.6404615639563!2d-120.97814604914319!3d37.657655979681735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8090541aadacf4f7%3A0x2577385afa3c4c57!2s1011+Coffee+Rd%2C+Modesto%2C+CA+95355!5e0!3m2!1sen!2sus!4v1489617920530" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </section>
</div>
