<div class="container">
  <h1>Schedule an appointment</h1>
    <%= form_for @appointment, html: { multipart: true }, :validate=>true do |f| %>
    <div class="contact-group">
      <div class="form-group col-sm-6">
        <%= f.text_field :first, class: 'form-control', placeholder: "First Name", required: true  %>
      </div>

      <div class="form-group col-sm-6">
        <%= f.text_field :last, class: 'form-control', placeholder: "Last Name", required: true  %>
      </div>

      <div class="form-group col-sm-6">
        <%= f.text_field :email, class: 'form-control', placeholder: "Email", required: true %>
      </div>

      <div class="form-group col-sm-6">
        <%= f.text_field :phone, class: 'form-control',placeholder: 'xxx-xxx-xxxx', required: true %>
      </div>

      <div class="form-group col-sm-6">
        <%= f.label :gender %>
        <%= f.radio_button(:gender, "Male") %>
        <%= f.label(:gender, "Male") %>
        <%= f.radio_button(:gender, "Female") %>
        <%= f.label(:gender, "Female") %>
      </div>

      <div class="form-group col-sm-6">
        <%= f.label "Appointment Date" %>
        <%= f.date_field :date %>
      </div>
    </div>

    <div class="message-group">
      <div class="form-group">
        <%= f.text_field :subject, class: 'form-control', placeholder: "Subject", required: true %>
      </div>

      <div class="form-group">
        <%= f.text_area :message, rows: 8, class: 'form-control', placeholder: "Message", required: true %>
      </div>
    </div>

    <div class="form-group hidden">
      <%= f.label :nickname %>
      <%= f.text_field :nickname, class: 'form-control', hint: "Leave this field blank" %>
    </div>

    <div class="form-group">
      <%= f.submit "Schedule Appointment", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
