<footer class="footer">
  <div>
    <aside>
      <%= link_to image_tag('logo.png'), root_path %>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porta pretium mi,
         a maximus tellus tincidunt quis.
      </p>
    </aside>

    <aside>
      <h2>Links</h2>
      <ul class="footer-links">
        <li><%= link_to "Privacy Policy", "#"%></li>
        <li><%= link_to "About", "#"%></li>
        <li><%= link_to "Contact", "#"%></li>
        <li><%= link_to "Staff", "#"%></li>
        <li><%= link_to "Payment", "#"%></li>
        <li><%= link_to "Insurance", "#"%></li>
      </ul>
    </aside>

    <aside>
      <h2>Contact Us</h2>
      <ul>
        <li>1011 Coffee Rd. <span class="red">Modesto, CA 95355</span></li>
        <li>(209) 524-1900 <span class="red">info@comapny.com</span></li>
        <li>8AM - 6PM <span class="red">Monday - Saturday</span></li>
      </ul>
    </aside>
  </div>
</footer>
